@import "tailwindcss";

:root {
  --background: #fff;
  --foreground: #000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-albert-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
}
/* Links */
a {
  color: var(--color-blue-500);
}
a:hover {
  color: var(--color-blue-700); 
}
header a {
  color: inherit;
}
header a:hover {
  color: var(--color-gray-700);
}
footer a {
  color: var(--color-blue-200);
}
footer a:hover, footer a:active, footer a.active {
  color: var(--color-blue-400);
}
